<a href="https://colab.research.google.com/github/lulukrifah18/KKA-X-Semester-1/blob/main/1_fungsi_print_Luluk_X_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Luklukur Rif'ah

Kelas:X.11

No.Absen:18

#Menampilkan Teks Bebas

In [ ]:
print("Luklukur Rif'ah")

Luklukur Rif'ah

#Menampilkan nama variabel

In [ ]:
nama_saudara="Wihda syafirna"
print("Wihda syafirna")

Wihda syafirna

In [ ]:
jumlah_saudara=2
print(2)

2

#Menampilkan Teks Bebas dan Nilai Variabel

#Menampilkan Teks Bebas Menggunakan Tanda Koma

In [ ]:
print("saya memiliki saudara sebanyak",jumlah_saudara,"nama saudara Saya adalah",nama_saudara)

saya memiliki saudara sebanyak 2 nama saudara Saya adalah Wihda syafirna

##Menampilkan Teks Bebas dan Nilai Variabel Menggunakan tanda plus

In [ ]:
print("saya memiliki saudara sebanyak " + str(jumlah_saudara) + ". "+"Nama saudara saya adalah " + nama_saudara + ".")

saya memiliki saudara sebanyak 2. Nama saudara saya adalah Wihda syafirna.

##Menampilkan Teks Bebas dan Nilai Variabel Menggunakan Tanda f string

In [ ]:
print(f"saya memiliki saudara sebanyak {jumlah_saudara}. Nama saudara saya adalah {nama_saudara}.")

saya memiliki saudara sebanyak 2. Nama saudara saya adalah Wihda syafirna.

##Escape Character

In [ ]:
print("Nama: Luklukur Rif'ah")
print("kelas:X.11")
print("No.Absen:18")

Nama: Luklukur Rif'ah
kelas:X.11
No.Absen:18

In [ ]:
print("Nama: Luklukur Rif'ah\nKelas:X.11\nNo.Absen:18")

Nama: Luklukur Rif'ah
Kelas:X.11
No.Absen:18

In [ ]:
print("""Nama\t\t: Luklukur Rif'ah
Kelas\t\t:X.11
No.Absen\t:18""")

Nama		: Luklukur Rif'ah
Kelas		:X.11
No.Absen	:18

In [ ]:
print("Luklukur Rif'ah")

Luklukur Rif'ah

In [ ]:
print('Luklukur Rifah')

Luklukur Rifah

#Fungsi Parameter

In [ ]:
nama_siswa_1="Daffanes"
nama_siswa_2="Adzka"
nama_siswa_3="Haidar"

print(nama_siswa_1, nama_siswa_2, sep="-")

Daffanes-Adzka

In [ ]:
nama_siswa_1="Daffanes"
nama_siswa_2="Adzka"
nama_siswa_3="Haidar"
print(nama_siswa_1, nama_siswa_2,sep="-")

Daffanes-Adzka

In [ ]:
print(nama_siswa_1)
print(nama_siswa_2)

Daffanes
Adzka

In [ ]:
print(nama_siswa_1, nama_siswa_2)

Daffanes Adzka

In [ ]:
print(nama_siswa_1,end="-")
print(nama_siswa_2)

Daffanes-Adzka

#Latihan soal:
 gunakan parameter end untuk menampilkan tulisan sebagai
 berikut:
Haidar#Adzka#Daffanes#Adzka

In [ ]:
print(nama_siswa_3,end="-")
print(nama_siswa_2,end="-")
print(nama_siswa_1,end="-")
print(nama_siswa_2,end="-")

Haidar-Adzka-Daffanes-Adzka-